<div classe="row">
	<div class="col-md-6 offset-3">
	<b>404</b> <h1 class="text-info"> This page is not found </h1>
	<hr />
	<a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page </a>
	</div>
</div>